<script>
const searchClient = algoliasearch('PLSEOX36ZZ', '53482a03c0ecf7ab4593564ae418477d');

const search = instantsearch({
  indexName: 'copaamerica-2021',
  searchClient,
});




search.addWidgets([
  instantsearch.widgets.searchBox({
    container: '#searchbox',
    placeholder: 'Search into posts...',
    poweredBy: true // This is required if you're on the free Community plan
  }),


  instantsearch.widgets.hits({
    container: '#hits',
    transformItems: items =>
      items.map(item => ({ ...item, date: item.game_started.toDateString() })),
    templates: {
      item: data => `
      <div>
        <div class="hit-title">
          <h4 itemprop="headline">
            <a class="post-link" href="{{ site.baseurl }}${data.url}">
              ${data.title}
            </a>
          </h4>
        </div>
        <div class="hit-data">
          {{#helpers.highlight}}Game started on:{{date}}{{/helpers.highlight}}
        </div>
        <p>${data.description}</p>
      </div>`
    }
  })
]);

search.start();
</script>


<style>
.ais-search-box {
  max-width: 100%;
  margin-bottom: 15px;
}
.post-item {
  margin-bottom: 30px;
}
.post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
}
.post-breadcrumbs {
  color: #424242;
  display: block;
}
.post-breadcrumb {
  font-size: 18px;
  color: #424242;
}
.post-breadcrumb .ais-Highlight {
  font-weight: bold;
  font-style: normal;
}
.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
}
.post-snippet img {
  display: none;
}
</style>
