<footer id="footer" class="midnight-blue fixed-bottom" style="color: #fff;background: #000;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2021 <a target="_blank" href="https://github.com/capeniarol" title="CA Peñarol">capeniarol</a>. All Rights Reserved.
                </div>

                <div class="col-sm-6">
                    <ul class="pull-right" style="display: inline-block;padding: 10px;">
                        <td style="margin-right: 10px;"><a href="/">Home</a></td>
                        <td style="margin-right: 10px;"><a href="/about-us.html">About Us</a></td>
                        <td style="margin-right: 10px;"><a href="/privacy-policy.html">Privacy Policy</a></td>
                        <td style="margin-right: 10px;"><a href="/contact-us.html">Contact Us</a></td>
                        <td><a id="gototop" class="gototop" href="#"><i class="fa fa-chevron-up"></i></a></td><!--#gototop-->
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
