<section id="menu">

<!--  ///////////////////////////////////////////////////////////////////

      El Sacecito - https://cdn.sportcast.life/assets/img/tables/493.gif

      //////////////////////////////////////////////////////////////////  -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/images/rect837.png" width="45px" Alt="-CONMEBOL-" style="vertical-align: -10px;"><span id="site-title" style="margin-left: 20px;font-family: iMPACTO;color: #fff;font-size: 24px;vertical-align: 5px;">Copa America 2021</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02" style="margin-left: 13px;">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">HOME
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us.html">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/full-matches.html">FULL MATCHES</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SQUADS</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/teams/argentina.html">Argentina</a>
            <a class="dropdown-item" href="/teams/bolivia.html">Bolivia</a>
            <a class="dropdown-item" href="/teams/brazil.html">Brasil</a>
            <a class="dropdown-item" href="/teams/chile.html">Chile</a>
            <a class="dropdown-item" href="/teams/colombia.html">Colombia</a>
            <a class="dropdown-item" href="/teams/ecuador.html">Ecuador</a>
            <a class="dropdown-item" href="/teams/paraguay.html">Paraguay</a>
            <a class="dropdown-item" href="/teams/peru.html">Peru</a>
            <a class="dropdown-item" href="/teams/uruguay.html">Uruguay</a>
            <a class="dropdown-item" href="/teams/venezuela.html">Venezuela</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="//sofascore.com">fuente: sofascore</a>
          </div>
        </li>
      </ul>
      <tr>
        <td>
          <a href="/search.html">
            <button type="button" class="btn btn-primary" style="background-color: #000;color: #fff;border: 1px solid #fff;vertical-align: -5px;">
              <i class="fa fa-search"></i>
            </button>
          </a>
        </td>
      </tr>
    </div>
  </div>
</nav>

</section>
