<section id="section1">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://cdn.sportcast.life/assets/img/tables/493.gif" width="30px" Alt="logo sitio"><span style="margin-left: 10px;font-family: iMPACTO;color: #ffcc00;font-size: 24px;">Copa America 2021</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">

      <ul class="navbar-nav me-auto" style="padding-left: 30px;">
        <li class="nav-item">
          <a class="nav-link active" href="/">HOME
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="#">Streams</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">FULL MATCHES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">TEAMS</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Argentina</a>
            <a class="dropdown-item" href="#">Bolivia</a>
            <a class="dropdown-item" href="#">Brasil</a>
            <a class="dropdown-item" href="#">Chile</a>
            <a class="dropdown-item" href="#">Colombia</a>
            <a class="dropdown-item" href="#">Ecuador</a>
            <a class="dropdown-item" href="#">Paraguay</a>
            <a class="dropdown-item" href="#">Perú</a>
            <a class="dropdown-item" href="#">Uruguay</a>
            <a class="dropdown-item" href="#">Venezuela</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
      </ul>

      
    </div>
  </div>
</nav>

</section>
