
{% include space-top.html %}

<div class="container">
  <div class="row">
    <div class="col-sm">

      <style>
        .luft {
          height: 50px;
        }
      </style>

      <h4 style="padding-top: 60px;">Partidos recomendados</h4>

      <img class="img-fluid" src="/assets/images/eldorado.sidebar.png" Alt="eldorado sportmedia" style="margin-top: -10px;">

      <div class="luft"></div>

      <h6>Argentina vs Brasil - Final</h6>
      <hr>
      <a href="/2021/07/11/copa-america-2021-final-argentina-vs-brasil.html"><img class="img-fluid" src="/assets/images/ARGvsBRA.Copa.America.2021.png" Alt="Argentina vs Brazil - Final"></a>
      <div class="luft"></div>

      <h6>Argentina vs Colombia - Semifinal</h6>
      <hr>
      <a href="/2021/07/07/copa-america-2021-semifinal-argentina-vs-colombia.html"><img class="img-fluid" src="/assets/images/ARGvsCOL.CopaAmerica.2021.semifinal.png" ALt="Argentina vs Colombia - Semifinal"></a>
      <div class="luft"></div>

      <h6>Brazil vs Colombia - Group Stage</h6>
      <hr>
      <a href="/2021/06/24/copa-america-2021-group-b-day-4-brazil-vs-colombia-full-match-online.html"><img class="img-fluid" src="/assets/images/colombia-brazil-9554795.png" ALt="Brazil vs Colombia - Group Stage"></a>
      <div class="luft"></div>

      <h6>Peru vs Paraguay - Quarterfinal</h6>
      <hr>
      <a href="/2021/07/02/copa-america-2021-quarterfinal-peru-vs-paraguay-full-match.html"><img class="img-fluid" src="/assets/images/PERvsPAR.Copa.America.2021.png" ALt="Peru vs Paraguay - Quarterfinal"></a>
      <div class="luft"></div>

      <h6>Uruguay vs Colombia - Quarterfinal</h6>
      <hr>
      <a href="/2021/07/03/copa-america-2021-quarterfinal-uruguay-vs-colombia-full-match.html"><img class="img-fluid" src="/assets/images/URUvsCOL.Copa.America.2021.png" ALt="Uruguay vs Colombia - Quarterfinal"></a>
      <div class="luft"></div>

      <img class="img-fluid" src="/assets/images/eldorado.sidebar.png" Alt="eldorado sportmedia">

    </div>
  </div>
</div>

{% include space.html %}
