---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

$font-path_oswald: "../fonts/" !default;
$font-file_oswald: "oswald-regular-webfont" !default;
$font-family_oswald: "OS" !default;

@mixin font-face($font-family_oswald, $font-path_oswald) {
  @font-face {
    font: {
      family: $font-family_oswald;
      weight: normal;
      style: normal;
    }
    src: url( $font-path_oswald + $font-file_oswald + '.woff') format('woff');
  }
}

@include font-face($font-family_oswald, '../fonts/');

$font-path_impact: "../fonts/" !default;
$font-file_impact: "Impact" !default;
$font-family_impact: "iMPACTO" !default;

@mixin font-face($font-family_impact, $font-path_impact) {
  @font-face {
    font: {
      family: $font-family_impact;
      weight: normal;
      style: normal;
    }
    src: url( $font-path_impact + $font-file_impact + '.woff') format('woff');
  }
}

@include font-face($font-family_impact, '../fonts/');

body {
    font-family: OS;
    color: #999999;
    font-size: 14px;
    font-weight: normal;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: iMPACTO;
    color: #666666;
    font-weight: normal;
  }

.nav-link {
  margin-left: 5px;
}

.card-header {
  background-color: grey;
}

a {
   color: #782144; /* 1dcef7  */
   font-weight: normal;
}

a:hover {
  color: #ff5555;
  font-weight: normal;
}

.card-body {
  background-color: #fff;
}

p {
  color: #999999;
}

span {
  color: #536c53;
  font-weight: normal;
}
