<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>

    <style>

    #covid19 {
        background-color: #fff6d5;
      }

    </style>

    {% include menu.html %}

    <img class="img-fluid" src="/assets/images/flat-banner.png" style="margin-top: 75px;margin-bottom: 0px;">

    <!-- {% include info-banner.html %} -->

      {{ content }}

    {% include footer.html %}

    <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{'/node_modules/@popperjs/core/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
	  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
